<p id="notice"><%= notice %></p>

<p>
  <h3>Name:</h3>
  <%= @post.name %>
</p>

<p><%= @post.content %></p>

<ul>
<% @post.tags.each do |tag| %>
  <li><%= tag.name %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>